<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NOP_Commerce_Suite" parallel="classes">
  <test name="NewUserCreationFeature">
    <classes>
      <class name="com.nop.commerce.runners.NewUserCreation_TestRunner"/>
    </classes>
  </test>             
</suite>